* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.imput {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline: 1rem;
}
.logo, .login {
    background-color: yellow;
    border: 1px dashed black;
    width: 10%;
    padding-inline: 1rem;
}
.login {
    text-align: right;
}
.link {
    background-color: yellow;
    border: 1px dashed black;
    width: 40%;
    text-align: center;
    padding-inline: 1rem;
}

.jumbo {
    background-color: blue;
    height: 300px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
   
}
.pink {
    background-color: pink;
    border: 1px dashed black;
    width: 50%;
    height: 200px;
    
}
.container2 {
    background-color: white;
    height: 300px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
}
.d1 {
    background-color: blue;
    border: 1px dashed black;
    width: 40%;
    height: 200px;
    
}
.d2 {
    background-color: pink;
    border: 1px dashed black;
    width: 20%;
    height: 200px;
    
}
.container3 {
    background-color: gray;
    height: 300px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding-inline: 1rem;
}
.d3 {
    background-color: blue;
    border: 1px dashed black;
    width: 40%;
    height: 200px;
}
.d4 {
    background-color: pink;
    border: 1px dashed black;
    width: 20%;
    height: 200px;
}
.container4 {
    background-color: white;
    height: 300px;
    border: 1px solid white;
    padding-inline: 1rem;
}
.container5 {
    background-color: gray;
    height: 600px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.green {
    background-color: green;
    border: 1px dashed black;
    width: 60%;
    height: 400px;
}
.container6 {
    background-color: black;
    height: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
}
.d5 {
    background-color: pink;
    border: 1px dashed black;
    height: 280px;
    width: 20%;

}
.d6 {
    background-color: blue;
    border: 1px dashed black;
    height: 280px;
    width: 10%;
}
.container7
 {
    background-color: black;
    margin-top: 3px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
 }
 .nav {
    background-color: blue;
    border: 1px solid blue;
    width: 60%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .logo2 {
    background-color: pink;
    border: 1px dashed black;
    padding-inline: 1rem;
 }
 .btn {
    background-color: pink;
    border: 1px dashed black;
    padding-inline: 1rem;
 }
 